<div class="modal-toggle js-menu-container" id="mobile-menu">
  <div>
    <button class="burger-btn" type="button">Buy now<svg class="" width="20" height="12">
        <use href="./images/sprite.svg#icon-vector-btn"></use>
      </svg>
    </button>
    <nav class="burger__nav">
      <ul class="burger__list">
        <li class="burger__item"><a class="burger-link link" href="#hero">Home</a></li>
        <li class="burger__item"><a class="burger-link link" href="#about">About us</a></li>
        <li class="burger__item"><a class="burger-link link" href="#how">How it's made?</a></li>
        <li class="burger__item"><a class="burger-link link" href="#products">Our products</a></li>
        <li class="burger__item"><a class="burger-link link" href="#contacts">Contact</a></li>
      </ul>
    </nav>
  </div>
  <button type="button" class="modal-toggle__close js-close-menu">
    <svg class="modal-toggle-close__svg" width="14" height="14">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
</div>
