<header class="header">
        <div class="container">
            <div class="header__logo"> 
                <a class="header__link link" href="#hero" aria-label="logo">
                    <img src="./images/header/logo.svg" width="199" height="50" alt="logo">
                </a>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item"><a class="link" href="#hero">Home</a></li>
                        <li class="header__nav-item"><a class="link" href="#about">About us</a></li>
                        <li class="header__nav-item"><a class="link" href="#how">How it's made?</a></li>
                        <li class="header__nav-item"><a class="link" href="#products">Our products</a></li>
                        <li class="header__nav-item"><a class="link" href="#contacts">Contact</a></li>
                    </ul>
                </nav>
                <button class="header__burger modal-toggle__open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg class="modal-toggle-open__svg" width="20" height="12">
                        <use href="./images/sprite.svg#icon-burger"></use>
                    </svg>
                </button>
                                <button class="header__btn" type="button">Buy now
                                    <svg class="" width="20" height="12">
                                        <use href="./images/sprite.svg#icon-vector-btn"></use>
                                    </svg>
                                </button>

        </div>
</header>