<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="product__title">products</h2>

    <ul class="products__list">
      <li class="products__item products__item--icecream">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" aria-label="Product button">
          <img
            class="products__button-icon"
            src="./images/arrow/arrow.png"
            alt="Circle button"
            width="40"
            height="40"
          />
        </button>
      </li>

      <li class="products__item products__item--coffee">
        <h3 class="products__item-title">ice coffee</h3>

        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" aria-label="Product button">
          <img
            class="products__button-icon"
            src="./images/arrow/arrow.png"
            alt="Circle button"
            width="40"
            height="40"
          />
        </button>
      </li>

      <li class="products__item products__item--milkshakes">
        <h3 class="products__item-title">milkshakes</h3>

        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" aria-label="Product button">
          <img
            class="products__button-icon"
            src="./images/arrow/arrow.png"
            alt="Circle button"
            width="40"
            height="40"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
