.gallery {
  background: linear-gradient($secondaryBgColor 40%, $whiteTextColor 40%, $whiteTextColor 60%);
  min-height: 122px;
  background-size: auto;

  @include mq(tablet) {
    min-height: 264px;
    background: linear-gradient($secondaryBgColor 40%, $whiteTextColor 40%, $whiteTextColor 60%);
  }

  @include mq(desktop) {
    min-height: 430px;
    background: linear-gradient($secondaryBgColor 37%, $whiteTextColor 38%, $whiteTextColor 62%);
  }
}

.gallery .container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.gallery__img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
