$cards: (
  'icecream': $primaryBgProducts,
  'coffee': $secondBgProducts,
  'milkshakes': $thirdBgProducts,
);

@each $name, $bg-color in $cards {
  .products__item--#{$name} {
    background-color: $bg-color;

    &::before {
      background-image: url(../images/products/#{$name}/#{$name}-sm.png);
      background-image: -webkit-image-set(url(../images/products/#{$name}/#{$name}-sm.webp) 1x);

      @include mq(retina) {
        background-image: url(../images/products/#{$name}/#{$name}-sm-@2x.png);
        background-image: -webkit-image-set(
          url(../images/products/#{$name}/#{$name}-sm-@2x.webp) 2x
        );
      }

      @include mq(tablet) {
        background-image: url(../images/products/#{$name}/#{$name}-md.png);
        background-image: -webkit-image-set(url(../images/products/#{$name}/#{$name}-md.webp) 1x);

        @include mq(retina) {
          background-image: url(../images/products/#{$name}/#{$name}-md-@2x.png);
          background-image: -webkit-image-set(
            url(../images/products/#{$name}/#{$name}-md-@2x.webp) 2x
          );
        }
      }

      @include mq(desktop) {
        background-image: url(../images/products/#{$name}/#{$name}-lg.png);
        background-image: -webkit-image-set(url(../images/products/#{$name}/#{$name}-lg.webp) 1x);

        @include mq(retina) {
          background-image: url(../images/products/#{$name}/#{$name}-lg-@2x.png);
          background-image: -webkit-image-set(
            url(../images/products/#{$name}/#{$name}-lg-@2x.webp) 2x
          );
        }
      }
    }
  }
}
